/* Login Sayfası Konteyneri */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px; /* Genişlik artırıldı */
    min-height: 400px; /* Yükseklik artırıldı */
}

.login-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.login-btn,
.register-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
}

.login-btn:hover,
.register-btn:hover {
    background-color: #45a049;
}

.register-btn {
    background-color: #2196F3; /* Kayıt butonunun rengini mavi yaptık */
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
